
<div class="data" >
        <button class=" btn btn-success btn-raised" id="set-start-position" disabled="disabled">Set Start Point</button>
      </div>

      <div class="data" >
        <button class="btn btn-danger btn-raised" id="set-end-position" disabled="disabled">Set End Point</button>
      </div>
      <div class="data" >
        <label> Depth First Search
          <input class="radio-button" type="radio" name="method" value="dfs" checked="checked" />
        </label>
      </div>

      <div class="data" >
        <label> Breadth First Search
          <input class="radio-button" type="radio" name="method" value="bfs" />
        </label>
      </div>

      <div class="data" >
        <button class="btn btn-info btn-raised" id="start-search" disabled="disabled">Start Search</button>
      </div>

       <div class="data" >
        <a href="https://github.com/SheheryarSherry/mazerunner" target="blank">Project Github</a>
      </div>

      <div >
        <a href="#" id="btn-help">Help</a>
      </div>
    