<div id="help-block">
    <div id="help-block-close">
      <span>X</span>
    </div>

    <div id="help-block-content">
      <ul>
        <li>
          First click on the maze(or whatever you call it), then click on the button "Set Start Point".
        </li>
        <li>
          Second click on the maze again and on the button "Set End Point".
        </li>
        <li>
          Third choose the search method
        </li>
        <li>
          And last, click on the button "Start Search"
        </li>
      </ul>
    </div>
  </div>
 <div class="container">
   <div class="well well-lg" style="background-color: darkgoldenrod">
<app-inputform>

</app-inputform>
</div>
 </div>
<div id="content">
  <app-maze>

     </app-maze>
</div>
